body {
    background: linear-gradient(to right, #6a82fb, #fc5c7d);
}

.overview-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    margin-bottom: 20px;
}

section h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #333;
}

.navbar-nav .nav-link:hover {
    color: #6a82fb;
}

@media (max-width: 767.98px) {
    .overview-box {
        margin-bottom: 20px;
    }

    section {
        margin-bottom: 20px;
    }
}

.white_bg {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.white_bg h2 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.white_bg p {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.5;
}

.white_bg ol {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.5;
    padding-left: 20px;
}

.white_bg ol li {
    margin-bottom: 5px;
}


.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}